# Práctica GD: Anonimización de datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("uam-personal-pdi-2020-anonimizado.xlsx")

In [3]:
df = df.drop("IMPORTANTE", axis=1)

In [4]:
df.head()

,cod_universidad,des_universidad,anio,cod_pais_nacionalidad,des_pais_nacionalidad,lat_pais_nacionalidad,lon_pais_nacionalidad,cod_continente_nacionalidad,des_continente_nacionalidad,cod_agregacion_paises_nacionalidad,...,des_unidad_responsable,cod_area_conocimiento,des_area_conocimiento,anio_incorporacion_ap,anio_incorpora_cuerpo_docente,num_trienios,num_quinquenios,num_sexenios,num_tesis,ind_investigador_principal
0,23,Universidad Autónoma de Madrid,2020,724,España,40.463667,-3.74922,150,Europa,39,...,"Departamento de Educación Física, Deporte y Mo...",187.0,Didáctica de la Expresión Corporal,NaN,NaN,7,4,1,NaN,S
1,23,Universidad Autónoma de Madrid,2020,724,España,40.463667,-3.74922,150,Europa,39,...,"Departamento de Educación Física, Deporte y Mo...",187.0,Didáctica de la Expresión Corporal,1996.0,2003.0,7,4,2,NaN,N
2,23,Universidad Autónoma de Madrid,2020,724,España,40.463667,-3.74922,150,Europa,39,...,"Departamento de Educación Física, Deporte y Mo...",187.0,Didáctica de la Expresión Corporal,NaN,NaN,5,3,0,NaN,N
3,23,Universidad Autónoma de Madrid,2020,724,España,40.463667,-3.74922,150,Europa,39,...,"Departamento de Educación Física, Deporte y Mo...",187.0,Didáctica de la Expresión Corporal,NaN,NaN,11,5,0,NaN,N
4,23,Universidad Autónoma de Madrid,2020,724,España,40.463667,-3.74922,150,Europa,39,...,"Departamento de Educación Física, Deporte y Mo...",187.0,Didáctica de la Expresión Corporal,NaN,NaN,0,0,0,1.0,N

In [5]:
df = df[(df["cod_genero"]) == "H"]

In [6]:
df = df[(df["cod_unidad_responsable"]) == 55001545]

In [7]:
df.shape

(54, 63)

In [9]:
cols = df.columns
cols_delete = []
for col in cols:
    if ((col[0:4] == "cod_") or (col[0:4] == "lat_") or (col[0:4] == "lon_")):
        cols_delete.append(col)

In [10]:
df = df.drop(cols_delete, axis=1)

In [11]:
df.shape

(54, 35)

In [12]:
df.columns

Index(['des_universidad', 'anio', 'des_pais_nacionalidad',
       'des_continente_nacionalidad', 'des_agregacion_paises_nacionalidad',
       'des_comunidad_residencia', 'des_provincia_residencia',
       'des_municipio_residencia', 'des_genero', 'anio_nacimiento',
       'des_tipo_personal', 'des_categoria_cuerpo_escala', 'des_tipo_contrato',
       'des_dedicacion', 'num_horas_semanales_tiempo_parcial',
       'des_situacion_administrativa', 'ind_cargo_remunerado',
       'des_titulo_doctorado', 'des_pais_doctorado',
       'des_continente_doctorado', 'des_agregacion_paises_doctorado',
       'des_universidad_doctorado', 'anio_lectura_tesis',
       'anio_expedicion_titulo_doctor', 'des_mencion_europea',
       'des_tipo_unidad_responsable', 'des_unidad_responsable',
       'des_area_conocimiento', 'anio_incorporacion_ap',
       'anio_incorpora_cuerpo_docente', 'num_trienios', 'num_quinquenios',
       'num_sexenios', 'num_tesis', 'ind_investigador_principal'],
      dtype='object')

In [13]:
df["des_universidad"].unique()

array(['Universidad Autónoma de Madrid'], dtype=object)

In [14]:
df["anio"].unique()

array([2020], dtype=int64)

In [15]:
df["des_pais_nacionalidad"].unique()

array(['España', 'Italia'], dtype=object)

In [16]:
print("La probabilidad de que el pais de nacionalidad sea España es:")
print((len(df[(df["des_pais_nacionalidad"] == "España")])/df.shape[0])*100)

La probabilidad de que el pais de nacionalidad sea España es:
96.29629629629629

In [17]:
df["des_continente_nacionalidad"].unique()

array(['Europa'], dtype=object)

In [18]:
df["des_agregacion_paises_nacionalidad"].unique()

array(['Europa meridional'], dtype=object)

In [19]:
df["des_comunidad_residencia"].unique()

array(['Madrid'], dtype=object)

In [20]:
df["des_provincia_residencia"].unique()

array(['Madrid'], dtype=object)

In [21]:
df["des_municipio_residencia"].unique()

array(['MADRID', 'POZUELO DE ALARCÓN', 'ALCOBENDAS', 'TRES CANTOS',
       'HOYO DE MANZANARES', 'COLMENAR VIEJO', 'ALGETE',
       'ALCALÁ DE HENARES', 'GALAPAGAR', 'SAN SEBASTIÁN DE LOS REYES',
       'BOALO, EL', 'ALCORCÓN', 'MORALZARZAL', 'COLMENAREJO',
       'FUENLABRADA'], dtype=object)

In [22]:
dic = {}
for categoria in df["des_municipio_residencia"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'MADRID': 27,
 'POZUELO DE ALARCÓN': 1,
 'ALCOBENDAS': 4,
 'TRES CANTOS': 3,
 'HOYO DE MANZANARES': 1,
 'COLMENAR VIEJO': 6,
 'ALGETE': 1,
 'ALCALÁ DE HENARES': 1,
 'GALAPAGAR': 1,
 'SAN SEBASTIÁN DE LOS REYES': 4,
 'BOALO, EL': 1,
 'ALCORCÓN': 1,
 'MORALZARZAL': 1,
 'COLMENAREJO': 1,
 'FUENLABRADA': 1}

In [23]:
print("La probabilidad de que el municipio de residencia sea Madrid, que es el más probable, es:")
print((len(df[(df["des_municipio_residencia"] == "MADRID")])/df.shape[0])*100)

La probabilidad de que el municipio de residencia sea Madrid, que es el más probable, es:
50.0

In [24]:
df["des_genero"].unique()

array(['Hombre'], dtype=object)

In [25]:
df["anio_nacimiento"].unique()

array([1988, 1980, 1964, 1978, 1985, 1982, 1981, 1970, 1963, 1976, 1972,
       1977, 1986, 1966, 1965, 1967, 1975, 1958, 1955, 1968, 1950, 1971,
       1984, 1961, 1969, 1960, 1990, 1974, 1973, 1962], dtype=int64)

In [26]:
dic = {}
for categoria in df["anio_nacimiento"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1

In [27]:
print("La probabilidad de que el año de nacimiento sea 1967, que es el más probable, es:")
print((len(df[(df["anio_nacimiento"] == 1967)])/df.shape[0])*100)

La probabilidad de que el año de nacimiento sea 1967, que es el más probable, es:
7.4074074074074066

In [28]:
df["des_tipo_personal"].unique()

array(['Personal laboral', 'Funcionario de carrera'], dtype=object)

In [29]:
dic = {}
for categoria in df["des_tipo_personal"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'Personal laboral': 34, 'Funcionario de carrera': 20}

In [30]:
print("La probabilidad de que el tipo de personal sea ""Personal laboral"", que es el más probable, es:")
print((len(df[(df["des_tipo_personal"] == "Personal laboral")])/df.shape[0])*100)

La probabilidad de que el tipo de personal sea Personal laboral, que es el más probable, es:
62.96296296296296

In [31]:
df["des_categoria_cuerpo_escala"].unique()

array(['Profesor Ayudante Doctor', 'Profesor Titular de Universidad',
       'Profesor Contratado Doctor', 'Profesor Asociado',
       'Catedrático de Universidad', 'Ayudante'], dtype=object)

In [32]:
dic = {}
for categoria in df["des_categoria_cuerpo_escala"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'Profesor Ayudante Doctor': 5,
 'Profesor Titular de Universidad': 14,
 'Profesor Contratado Doctor': 16,
 'Profesor Asociado': 10,
 'Catedrático de Universidad': 6,
 'Ayudante': 3}

In [33]:
print("La probabilidad de que la categoría de cuerpo escala sea ""Profesor Contratado Doctor"", que es el más probable, es:")
print((len(df[(df["des_categoria_cuerpo_escala"] == "Profesor Contratado Doctor")])/df.shape[0])*100)

La probabilidad de que la categoría de cuerpo escala sea Profesor Contratado Doctor, que es el más probable, es:
29.629629629629626

In [34]:
df["des_tipo_contrato"].unique()

array(['Contrato de Duración Determinada',
       'Personal Funcionario\\Personal eventual',
       'Contrato Indefinido o Fijo'], dtype=object)

In [35]:
dic = {}
for categoria in df["des_tipo_contrato"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'Contrato de Duración Determinada': 21,
 'Personal Funcionario\\Personal eventual': 20,
 'Contrato Indefinido o Fijo': 13}

In [36]:
print("La probabilidad de que el tipo de contrato sea ""Contrato de Duración Determinada"", que es el más probable, es:")
print((len(df[(df["des_tipo_contrato"] == "Contrato de Duración Determinada")])/df.shape[0])*100)

La probabilidad de que el tipo de contrato sea Contrato de Duración Determinada, que es el más probable, es:
38.88888888888889

In [37]:
df["des_dedicacion"].unique()

array(['Dedicación a Tiempo Completo', 'Dedicación a Tiempo Parcial'],
      dtype=object)

In [38]:
dic = {}
for categoria in df["des_dedicacion"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'Dedicación a Tiempo Completo': 44, 'Dedicación a Tiempo Parcial': 10}

In [39]:
print("La probabilidad de que la dedicación sea ""Dedicación a Tiempo Completo"", que es el más probable, es:")
print((len(df[(df["des_dedicacion"] == "Dedicación a Tiempo Completo")])/df.shape[0])*100)

La probabilidad de que la dedicación sea Dedicación a Tiempo Completo, que es el más probable, es:
81.48148148148148

In [40]:
df["num_horas_semanales_tiempo_parcial"].unique()

array([nan,  8.])

In [41]:
dic = {}
for categoria in df["num_horas_semanales_tiempo_parcial"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 8.0: 10,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1}

In [42]:
print("La probabilidad de que el número de horas semanales a tiempo parcial sea ""nan"", que es el más probable, es:")
print((1-len(df[(df["num_horas_semanales_tiempo_parcial"] == 8.0)])/df.shape[0])*100)

La probabilidad de que el número de horas semanales a tiempo parcial sea nan, que es el más probable, es:
81.4814814814815

In [43]:
df["des_situacion_administrativa"].unique()

array(['Servicio Activo'], dtype=object)

In [44]:
df["ind_cargo_remunerado"].unique()

array(['N', 'S'], dtype=object)

In [45]:
dic = {}
for categoria in df["ind_cargo_remunerado"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'N': 45, 'S': 9}

In [46]:
print("La probabilidad de que el cargo remunerado sea ""N"", que es el más probable, es:")
print((len(df[(df["ind_cargo_remunerado"] == "N")])/df.shape[0])*100)

La probabilidad de que el cargo remunerado sea N, que es el más probable, es:
83.33333333333334

In [47]:
df["des_titulo_doctorado"].unique()

array(['No', 'Uno'], dtype=object)

In [48]:
dic = {}
for categoria in df["des_titulo_doctorado"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'No': 9, 'Uno': 45}

In [49]:
print("La probabilidad de que el título doctorado sea ""Uno"", que es el más probable, es:")
print((len(df[(df["des_titulo_doctorado"] == "Uno")])/df.shape[0])*100)

La probabilidad de que el título doctorado sea Uno, que es el más probable, es:
83.33333333333334

In [50]:
df["des_pais_doctorado"].unique()

array([nan, 'España'], dtype=object)

In [51]:
dic = {}
for categoria in df["des_pais_doctorado"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 29, 'España': 25}

In [52]:
print("La probabilidad de que el país doctorado sea ""nan"", que es el más probable, es:")
print((1-len(df[(df["des_pais_doctorado"] == "España")])/df.shape[0])*100)

La probabilidad de que el país doctorado sea nan, que es el más probable, es:
53.703703703703695

In [53]:
df["des_continente_doctorado"].unique()

array([nan, 'Europa'], dtype=object)

In [54]:
dic = {}
for categoria in df["des_continente_doctorado"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 29, 'Europa': 25}

In [55]:
print("La probabilidad de que el continente de doctorado sea ""nan"", que es el más probable, es:")
print((1-len(df[(df["des_continente_doctorado"] == "Europa")])/df.shape[0])*100)

La probabilidad de que el continente de doctorado sea nan, que es el más probable, es:
53.703703703703695

In [56]:
df["des_agregacion_paises_doctorado"].unique()

array([nan, 'Europa meridional'], dtype=object)

In [57]:
dic = {}
for categoria in df["des_agregacion_paises_doctorado"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 29, 'Europa meridional': 25}

In [58]:
print("La probabilidad de que la agregación de paises de doctorado sea ""nan"", que es el más probable, es:")
print((1-len(df[(df["des_agregacion_paises_doctorado"] == "Europa meridional")])/df.shape[0])*100)

La probabilidad de que la agregación de paises de doctorado sea nan, que es el más probable, es:
53.703703703703695

In [59]:
df["des_universidad_doctorado"].unique()

array([nan, 'Universidad Autónoma de Madrid',
       'Universidad de Castilla-La Mancha',
       'Universidad Carlos III de Madrid',
       'Universidad de Santiago de Compostela',
       'Universidad Complutense de Madrid',
       'Universidad Politécnica de Madrid'], dtype=object)

In [60]:
dic = {}
for categoria in df["des_universidad_doctorado"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 29,
 'Universidad Autónoma de Madrid': 19,
 'Universidad de Castilla-La Mancha': 2,
 'Universidad Carlos III de Madrid': 1,
 'Universidad de Santiago de Compostela': 1,
 'Universidad Complutense de Madrid': 1,
 'Universidad Politécnica de Madrid': 1}

In [61]:
print("La probabilidad de que la universidad de doctorado sea ""Universidad Autónoma de Madrid"", que es el más probable, es:")
print((len(df[(df["des_universidad_doctorado"] == "Universidad Autónoma de Madrid")])/df.shape[0])*100)

La probabilidad de que la universidad de doctorado sea Universidad Autónoma de Madrid, que es el más probable, es:
35.18518518518518

In [62]:
df["anio_lectura_tesis"].unique()

array([  nan, 2003., 2002., 1990., 1993., 1997., 2010., 1994., 2011.,
       2000., 1995., 2007., 2006., 2008., 1999., 1991., 2005., 1992.,
       2004., 1982., 2018., 2015., 2014.])

In [63]:
print("La probabilidad del año de lectura de tesis sea ""2000"" es del 100%")

La probabilidad del año de lectura de tesis sea 2000 es del 100%

In [64]:
df["anio_expedicion_titulo_doctor"].unique()

array([  nan, 2003., 2010., 2000., 1995., 2007., 2006., 2008., 2009.,
       2004., 1998., 2018., 2012., 2015., 2014., 2016.])

In [65]:
print("La probabilidad del año de expedicion de titulo de doctor sea ""2000"" es del 100%")

La probabilidad del año de expedicion de titulo de doctor sea 2000 es del 100%

In [66]:
df["des_mencion_europea"].unique()

array([nan, 'No'], dtype=object)

In [67]:
dic = {}
for categoria in df["des_mencion_europea"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 9, 'No': 45}

In [68]:
print("La probabilidad de que mención Europea sea ""No"", que es el más probable, es:")
print((len(df[(df["des_mencion_europea"] == "No")])/df.shape[0])*100)

La probabilidad de que mención Europea sea No, que es el más probable, es:
83.33333333333334

In [69]:
df["des_tipo_unidad_responsable"].unique()

array(['Departamento'], dtype=object)

In [70]:
df["des_unidad_responsable"].unique()

array(['Departamento de Ingeniería Informática'], dtype=object)

In [71]:
df["des_area_conocimiento"].unique()

array(['Ciencia de la Computación e Inteligencia Artificial',
       'Lenguajes y Sistemas Informáticos'], dtype=object)

In [72]:
print("La probabilidad del año de expedicion de titulo de doctor sea ""Lenguajes y Sistemas Informáticos"" es del 100%")

La probabilidad del año de expedicion de titulo de doctor sea Lenguajes y Sistemas Informáticos es del 100%

In [73]:
df["anio_incorporacion_ap"].unique()

array([  nan, 1995., 1998., 1997., 2005., 1996., 1990., 1993., 1982.,
       1977., 1994., 1999., 1989., 2001.])

In [74]:
dic = {}
for categoria in df["anio_incorporacion_ap"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 1,
 1995.0: 3,
 nan: 1,
 nan: 1,
 1998.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 1997.0: 3,
 2005.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 1996.0: 2,
 1990.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 1993.0: 2,
 nan: 1,
 1982.0: 1,
 1977.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 1994.0: 1,
 1999.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 1989.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 2001.0: 1,
 nan: 1}

In [75]:
print("La probabilidad de que el año de incorporación sea ""nan"", que es el más probable, es:")
print((20/df.shape[0])*100)

La probabilidad de que el año de incorporación sea nan, que es el más probable, es:
37.03703703703704

In [76]:
df["anio_incorpora_cuerpo_docente"].unique()

array([  nan, 1999., 2012., 2006., 2019., 2001., 2002., 1997., 2020.,
       1985., 1986., 2011., 2005., 1998.])

In [77]:
dic = {}
for categoria in df["anio_incorpora_cuerpo_docente"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 1,
 1999.0: 2,
 nan: 1,
 nan: 1,
 2012.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 2006.0: 2,
 2019.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 2001.0: 3,
 nan: 1,
 2002.0: 2,
 nan: 1,
 nan: 1,
 1997.0: 2,
 2020.0: 2,
 nan: 1,
 1985.0: 1,
 1986.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 2011.0: 1,
 nan: 1,
 nan: 1,
 2005.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 1998.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1}

In [78]:
df["num_trienios"].unique()

array([ 1,  8,  6,  7,  3,  0,  5, 10,  4,  2,  9, 12, 14], dtype=int64)

In [79]:
print("El numero de trienios es 5")

El numero de trienios es 5

In [80]:
df["num_quinquenios"].unique()

array([0, 4, 3, 1, 2, 6, 5], dtype=int64)

In [81]:
print("el numero de quinquenios es 3")

el numero de quinquenios es 3

In [82]:
df["num_sexenios"].unique()

array([0, 2, 4, 3, 1, 5, 6], dtype=int64)

In [83]:
df["num_tesis"].unique()

array([nan,  1.])

In [84]:
dic = {}
for categoria in df["num_tesis"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 1.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1}

In [85]:
print("La probabilidad de que el numero de tesis sea ""nan"", que es el más probable, es:")
print((1 - len(df[(df["num_tesis"] == 1)])/df.shape[0])*100)

La probabilidad de que el numero de tesis sea nan, que es el más probable, es:
96.2962962962963

In [86]:
df["ind_investigador_principal"].unique()

array(['N', 'S'], dtype=object)

In [87]:
dic = {}
for categoria in df["ind_investigador_principal"]:
    if categoria not in dic:
        dic[categoria] = 1
    else:
        dic[categoria] +=1
dic

{'N': 39, 'S': 15}

In [88]:
print("La probabilidad de que el indicador de investigador principal sea ""N"", que es el más probable, es:")
print((len(df[(df["ind_investigador_principal"] == "N")])/df.shape[0])*100)

La probabilidad de que el indicador de investigador principal sea N, que es el más probable, es:
72.22222222222221